body{
  font-family: sans-serif;

}

h1{
  color: rgb(247, 169, 3);
  font-size: 3rem;
}

h2{
  color: rgb(15, 202, 15);
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
  font-weight: 40px;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  row-gap: 50px;
}

.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  row-gap: 50px;
}

.round-edges {
  border-bottom: 2cap;
  border-radius: 47%;
}

.about-us {
  padding: 5% 9% 6%;
  background-color: rgb(9, 121, 111);
}

.carbon-account {
  padding: 3% 9% 1.8%;
  background-color: rgba(41, 41, 43, 0.877);
}

.carbon-xchange {
  padding: 5% 9% 7.5%;
}


.climate-change {
  padding: 3% 9% 1.8%;
  background-color: rgb(109, 107, 5);
  
}
.activity{
  padding: 2% 3% 1%;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

footer{
  padding: 3.5% 4.5% 4.5%;
  color: antiquewhite;
  background-color: rgb(7, 43, 9);
  width: auto;
  height: auto;;
  text-align: center;
}




.btn{
  border-radius: 31px;
  background: linear-gradient(45deg, #218923, #28a32a);
  box-shadow:  7px -7px 26px #1e7a1f,-7px 7px 26px #2cb62f;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.button {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .5em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }

.my-card{
 padding: 3.9%;
 background-color: rgba(36, 35, 34, 0.815);
}

.card {
  margin: auto;
  padding: 5%;
  width: 380px;
  height: 200px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


 @media (max-width: 700px) {
  .home {
    text-align: end;
    font-size: small;
  }

  .home-p{
    text-align: end;
    font-size: xx-small;
  }

  .btn{
    width: 75px;
    height: 35px;
    font-size: xx-small;
  }
  .footer-img{
    width: 25px;
    height: 25px;
  }
  .footer-p{
    font-size: xx-small;
  }

  .button{
    width: 75px;
    height: 35px;
    font-size: xx-small;
  }

  .card{
    width: 150px;
    height: 190px;
  }

  .text-title{
    font-size: smaller;
  }

  .text-body{
    font-size: xx-small;
  }

  .card-button{
    size: small;
  }

  h1{
    font-size: smaller;
  }
}

 