body{
  font-family: sans-serif;

}

h1{
  color: rgb(247, 169, 3);
  font-size: 3rem;
}

h2{
  color: rgb(15, 202, 15);
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
  font-weight: 40px;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  row-gap: 50px;
}

.p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  row-gap: 50px;
}

.round-edges {
  border-bottom: 2cap;
  border-radius: 47%;
}

.about-us {
  padding: 5% 9% 6%;
  background-color: rgb(9, 121, 111);
}

.carbon-account {
  padding: 3% 9% 1.8%;
  background-color: rgba(41, 41, 43, 0.877);
}

.carbon-xchange {
  padding: 5% 9% 7.5%;
}


.climate-change {
  padding: 3% 9% 1.8%;
  background-color: rgb(109, 107, 5);
  
}
.activity{
  padding: 2% 3% 1%;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

footer{
  padding: 3.5% 4.5% 4.5%;
  color: antiquewhite;
  background-color: rgb(7, 43, 9);
  width: auto;
  height: auto;;
  text-align: center;
}

.btn{
  border-radius: 128px;
background: linear-gradient(145deg, #837f7f, #9b9797);
box-shadow:  15px 15px 29px #676464,
             -15px -15px 29px #bbb6b6;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.button {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }
 

 @media (max-width: 700px) {
  .home {
    text-align: end;
    font-size: 1rem;
  }

  .home-p{
    text-align: end;
    font-size: smaller;
  }

  .btn{
    width: 75px;
    height: 35px;
    font-size: xx-small;
  }
  .footer-img{
    width: 25px;
    height: 25px;
  }
  .footer-p{
    font-size: xx-small;
  }

  .button{
    width: 75px;
    height: 35px;
    font-size: xx-small;
  }
}
