body{
  font-family: sans-serif;

}

hr{
  line-break: auto;
}

h1{
  color: rgb(247, 169, 3);
  font-size: 3rem;
}

h2{
  color: rgb(15, 202, 15);
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
  font-weight: 40px;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  row-gap: 50px;
}

.p {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  row-gap: 50px;
}

.round-edges {
  border-bottom: 2cap;
  border-radius: 47%;
  margin-bottom: 30px;
  padding: 2%;
  text-align: center;
  background: linear-gradient(rgb(7, 43, 9),rgb(109, 107, 5));
}

.activity{
  padding: 2% 3% 1%;
  text-align: center;
  background-color: rgb(26, 24, 24);
}

.about-us {
  padding: 5% 9% 6%;
  background: linear-gradient(rgb(9, 121, 111),rgb(7, 43, 9));
}

.about-border{
  margin-bottom: 30px;
  border-radius: 60px;
  padding: 2%;
  text-align: center;
  background: linear-gradient(rgb(7, 43, 9),rgb(9, 121, 111));
}

/* contact page */

.contact-container {
  height: 100vh;
  background: linear-gradient(grey,black);
  align-items: center;
  justify-content: space-evenly;
  display: flex;

}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: grey;
  border-radius: 50px;
}

.contact-left textarea {
  height: 140px;
  width: 400px;
  padding-top: 15px;
  padding-left: 25px;
  border-radius: 20px;
}

.contact-right{
  border: none;
  outline: none;
  border-radius: 50px;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(green, grey );
  cursor: pointer;
}
/* */

/* START FOR CARBON ACCOUNT PAGE*/
.carbon-account {
  padding: 3% 9% 1.8%;
  background: linear-gradient( rgba(0, 0, 0, 0.87), rgba(41, 41, 43, 0.877)  );
}

.carbon-account2 {
  padding: 3% 9% 1.8%;
  background: linear-gradient(rgba(41, 41, 43, 0.877) , rgb(0, 0, 0) );
}

.carbon-account3 {
  padding: 3% 9% 1.8%;
  background: linear-gradient(rgb(0, 0, 0) , rgba(7, 43, 9) );
}


/* */
.h-a-content0 {
  display: none;
}

#H0 {
  display: none;
}

#H0:checked ~ .c-a-content1 {
  display: block;
}

#H0:checked ~ label {
  display: none;
}
/* */

/* */
.c-a-content1 {
  display: none;
}

#ch1 {
  display: none;
}

#ch1:checked ~ .c-a-content1 {
  display: block;
}

#ch1:checked ~ label {
  display: none;
}
/* */
/* */

.c-a-content2 {
  display: none;
}

#ch2 {
  display: none;
}

#ch2:checked ~ .c-a-content2 {
  display: block;
}

#ch2:checked ~ label {
  display: none;
}
/* */
/* */

.c-a-content3 {
  display: none;
}

#ch3 {
  display: none;
}

#ch3:checked ~ .c-a-content3 {
  display: block;
}

#ch3:checked ~ label {
  display: none;
}
/* */
/* */

.c-a-content4 {
  display: none;
}

#ch4 {
  display: none;
}

#ch4:checked ~ .c-a-content4 {
  display: block;
}

#ch4:checked ~ label {
  display: none;
}
/* */
/* */

.c-a-content5 {
  display: none;
}

#ch5 {
  display: none;
}

#ch5:checked ~ .c-a-content5 {
  display: block;
}

#ch5:checked ~ label {
  display: none;
}
/* */
/* */

.c-a-content6 {
  display: none;
}

#ch6 {
  display: none;
}

#ch6:checked ~ .c-a-content6 {
  display: block;
}

#ch6:checked ~ label {
  display: none;
}
/* */
/* */

label {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #218923;
  padding: 3px 13px;
  border-radius: 3px;
  margin-top: 13px;
  margin-bottom: 13px;

}



.carbon-account-forms {
  padding: 60px 78px;
  margin-right: 90px;
  margin-left: 90px;
  background: linear-gradient(rgba(41, 41, 43, 0.877),rgb(7, 43, 9));
}

/* END FOR CARBON ACCOUNT PAGE*/

.carbon-xchange {
  padding: 5% 9% 7.5%;
  background: linear-gradient(grey, rgb(7, 43, 9));
}

.c-xchng {
  color: #fff;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.carbon-xchange-forms {
  padding: 48px 58px;
  margin-right: 70px;
  margin-left: 70px;
  background: linear-gradient(rgb(7, 43, 9), rgb(8, 8, 8));
}

.carbon-inputs {
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  margin: 15px;
  font-weight: 500;
  color: grey;
  border-radius: 50px;
}


.climate-change {
  padding: 3% 9% 1.8%;
  background: linear-gradient(rgb(109, 107, 5),rgb(7, 43, 9));
  
}
.climate-border{
  margin-bottom: 30px;
  border-radius: 60px;
  padding: 2%;
  text-align: center;
  background: linear-gradient(rgb(7, 43, 9),rgb(109, 107, 5));
}

footer{
  padding: 3.5% 4.5% 4.5%;
  color: antiquewhite;
  background-color: rgb(7, 43, 9);
  width: auto;
  height: auto;;
  text-align: center;
}




.btn{
  border-radius: 50px;
  background: linear-gradient(45deg, #218923, #525353);
  
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.button {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .5em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 
 .button:active {
  filter: brightness(.8);
 }

.my-card{
 padding: 3.9%;
 background: linear-gradient( rgb(26, 24, 24),rgb(7, 43, 9));
}

.card {
  margin: auto;
  padding: 5%;
  width: 380px;
  height: 200px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #73777a;
  color: #018622;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 16;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }



 @media (max-width: 700px) {
  .home {
    text-align: end;
    font-size: small;
  }

  .home-p{
    text-align: end;
    font-size: xx-small;
  }

  .btn{
    width: 75px;
    height: 35px;
    font-size: xx-small;
  }
  .footer-img{
    width: 25px;
    height: 25px;
  }
  .footer-p{
    font-size: xx-small;
  }

  .button{
    width: 75px;
    height: 35px;
    font-size: xx-small;
  }

  .card{
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .my-card{
    padding: 0.7%;
    background: linear-gradient( rgb(26, 24, 24),rgb(7, 43, 9));
   }

  .text-title{
    font-size: smaller;
  }

  .text-body{
    font-size: xx-small;
  }

  .card-button{
    size: smaller;
  }

  h1{
    font-size: small;
  }

  h2 {
    font-size: small;
  }

  h3 {
    font-size: small;
  }

  .contact-right {
    display: none;
  }

  .contact-inputs {
    width: 80vw;
  }

  .carbon-inputs {
    width: 40vw;
  }
}

 